In [18]:
api_key = "6ca68adf9ebc0da87653f68221314c10"
print (api_key)

6ca68adf9ebc0da87653f68221314c10

In [ ]:
import citipy

In [62]:
cities = {
    "Name": ["Los Angeles", "Chicago", "Saint Louis", "O'Fallon", "Atlanta", "Saint Peters", "Savannah"]}

import pandas as pd

df = pd.DataFrame(cities)

df

           Name
0   Los Angeles
1       Chicago
2   Saint Louis
3      O'Fallon
4       Atlanta
5  Saint Peters
6      Savannah

In [45]:
from api_keys import api_key
print(api_key)

6ca68adf9ebc0da87653f68221314c10

In [47]:
base_url = "https://api.openweathermap.org/data/2.5/weather?units=imperial&appid=" + api_key
city = "saint louis"
full_request = base_url + '&q='+city
req = requests.get(full_request)
print(req.text)

{"coord":{"lon":-90.4001,"lat":38.6334},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"base":"stations","main":{"temp":72.32,"feels_like":72.27,"temp_min":71.01,"temp_max":73.99,"pressure":1009,"humidity":64},"visibility":10000,"wind":{"speed":11.5,"deg":160,"gust":21.85},"clouds":{"all":90},"dt":1617816245,"sys":{"type":1,"id":5931,"country":"US","sunrise":1617795395,"sunset":1617841815},"timezone":-18000,"id":4407074,"name":"Saint Louis","cod":200}

In [48]:
weather_data = req.json()
weather_data

{'coord': {'lon': -90.4001, 'lat': 38.6334},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 72.32,
  'feels_like': 72.27,
  'temp_min': 71.01,
  'temp_max': 73.99,
  'pressure': 1009,
  'humidity': 64},
 'visibility': 10000,
 'wind': {'speed': 11.5, 'deg': 160, 'gust': 21.85},
 'clouds': {'all': 90},
 'dt': 1617816245,
 'sys': {'type': 1,
  'id': 5931,
  'country': 'US',
  'sunrise': 1617795395,
  'sunset': 1617841815},
 'timezone': -18000,
 'id': 4407074,
 'name': 'Saint Louis',
 'cod': 200}

In [49]:
weather_data['main']['temp']

72.32

In [50]:
weather_data['wind']['speed']

11.5

In [52]:
base_url = "https://api.openweathermap.org/data/2.5/weather?units=imperial&appid=" + api_key
city = "Chicago"
full_request = base_url + '&q='+city
req = requests.get(full_request)
print(req.text)

{"coord":{"lon":-87.65,"lat":41.85},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":77.07,"feels_like":76.55,"temp_min":75,"temp_max":78.01,"pressure":1009,"humidity":44},"visibility":10000,"wind":{"speed":12.66,"deg":190,"gust":25.32},"clouds":{"all":75},"dt":1617816422,"sys":{"type":1,"id":4861,"country":"US","sunrise":1617794559,"sunset":1617841331},"timezone":-18000,"id":4887398,"name":"Chicago","cod":200}

In [59]:
base_url = "https://api.openweathermap.org/data/2.5/weather?units=imperial&appid=" + api_key
city = "Los Angeles"
full_request = base_url + '&q='+city
req = requests.get(full_request)
print(req.text)

{"coord":{"lon":-118.2437,"lat":34.0522},"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01d"}],"base":"stations","main":{"temp":68.32,"feels_like":67.5,"temp_min":64.4,"temp_max":71.01,"pressure":1018,"humidity":56},"visibility":10000,"wind":{"speed":5.23,"deg":218,"gust":3.2},"clouds":{"all":1},"dt":1617816786,"sys":{"type":1,"id":3694,"country":"US","sunrise":1617802296,"sunset":1617848277},"timezone":-25200,"id":5368361,"name":"Los Angeles","cod":200}

In [61]:
base_url = "https://api.openweathermap.org/data/2.5/weather?units=imperial&appid=" + api_key
city = "Atlanta"
full_request = base_url + '&q='+city
req = requests.get(full_request)
print(req.text)

{"coord":{"lon":-84.388,"lat":33.749},"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}],"base":"stations","main":{"temp":77.65,"feels_like":77.04,"temp_min":75.99,"temp_max":79,"pressure":1018,"humidity":41},"visibility":10000,"wind":{"speed":5.75,"deg":150},"clouds":{"all":20},"dt":1617817004,"sys":{"type":1,"id":4155,"country":"US","sunrise":1617794192,"sunset":1617840133},"timezone":-14400,"id":4180439,"name":"Atlanta","cod":200}

In [63]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

temperate = [30, 40, 50, 60, 70, 80, 90, 100]

latitude = [-60, -40, -20, 0, 20, 40, 60, 80]

sns.scatterplot(x=temperature, y=latitude)

plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

cloudiness = [30, 40, 50, 60, 70, 80, 90, 100]

latitude = [-60, -40, -20, 0, 20, 40, 60, 80]

sns.scatterplot(x=cloudiness, y=latitude)

plt.show()